<!DOCTYPE html>
{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}

<div class="page-header">

    <h1>
        Meet the Committee
        <small>2019/2020</small>
    </h1>

</div>
<br>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="{% static 'images/conor.jpg' %}" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Club Captain</h4>
                        <p></p>
                    </div>

                </div>
            </div>
            <div class="team-title">
                <h5>Conor Morgan</h5>
                <span>Club Captain</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="{% static 'images/gregor.jpg' %}" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Social Media</h4>
                        <p></p>
                    </div>

                </div>
            </div>
            <div class="team-title">
                <h5>Gregor Kerr</h5>
                <span>Social Media</span>
            </div>
        </div>

    </div>
</div>

<div class="page-header">

    <h1>
        Meet the Coaches
        <small>2019/2020</small>
    </h1>

</div>

<br>

<div class="container">
    <div class="page-header">
        <h1>
            Child Wellbeing and Protection Officer
            <small>2019/2020</small>
        </h1>
    </div>
    <div class="container">
        <div class="row">
            <h3>
                Tom Middlemass - tom.midd@hotmail.com
            </h3>

        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="page-header">
        Club Policies
        <small>2019/2020</small>
        </h1>
    </div>
    <div>
        <ul>
            <li><a href="{% static 'policies/football-men-club-constitution.pdf' %}">Club Constitution</a></li>
            <li><a href="{% static 'policies/equity-policy.pdf' %}">Equity Policy</a></li>
            <li><a href="{% static 'policies/disability-discrimination-policy.pdf' %}">Disability Discrimination
                    Policy</a>
            </li>
            <li><a href="{% static 'policies/unacceptable-conduct-policy.pdf' %}">Unacceptable Conduct
                    Policy</a></li>
            <li><a href="{% static 'policies/code-of-conduct.pdf' %}">Code of Conduct</a></li>
            <li><a href="{% static 'policies/customer-charter.pdf' %}">Customer Charter</a></li>
            <li><a href="{% static 'policies/childwellbeing-protection.pdf' %}">Childwellbeing policy</a></li>
        </ul>
    </div>

    <div class="page-header">
        <h1>
            Find Us
        </h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    <iframe width='100%' height='100%' id='mapcanvas'
                        src='https://maps.google.com/maps?q=Garscube%20Sports%20Complex,%20Glasgow,%20United%20Kingdom&amp;t=&amp;z=10&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
                        frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>

                    </iframe>
                </div>
            </div>
            <div class="col-md-1"></div>

            <div class="col-md-3">
                <h4>West of Scotland Science Park, Maryhill Rd, Glasgow G20 0SP</h4>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

</div>

{% endblock %}