<!DOCTYPE html>

{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}


<div class="page-header">

    <h1>
        Meet the Committee
        <small>2018/2019</small>
    </h1>

</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img
                            src="{% static 'images/ali.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>Alistair Keith</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/ali.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">Alistair Keith
                                    <small>England</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Centre Back</span>
                                <span class="label label-info">1st Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong>Club Captain: </strong><br>
                                    The long awaited introductions to this year's committee begin with the the club
                                    captain himself, Alistair Keith. Chief Keith is a proud Londoner and diehard Chelsea
                                    fan. His highlight in the GUFC is a supposed screamer from just outside his own box.
                                    Something you may not know about Alistair is aside from football he is also a
                                    water-ski instructor .</p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal2"><img
                            src="{% static 'images/liam.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>Liam McHugh</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/liam.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">Liam McHugh
                                    <small>Scotland</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Midfielder</span>
                                <span class="label label-info">2nd Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong>Club Captain: </strong><br>
                                    Next up we have our Vice captain, Liam McHugh. Liam is also from Glasgow and his
                                    best moment in the GUFC is scoring a penalty in a shootout against Strathy back in
                                    his 1st year. His fun fact is that he competed in the Scottish ski team before
                                    attending GU 🎿</p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal3"><img
                            src="{% static 'images/dibble.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>Lewis Dibble</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/dibble.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">Lewis Dibble
                                    <small>England</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Striker</span>
                                <span class="label label-info">1st Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong>Treasurer: </strong><br>
                                    Now we introduce our treasurer, Lewis Dibble. He's responsible for all the finances
                                    of the club. Lewis is from Glasgow, however his fact is that he was actually born
                                    south of the border 🏴󠁧󠁢󠁥󠁮󠁧󠁿 Dibble's highlight in the GUFC is scoring a
                                    controversial 90 minute overhead kick winner in his first ever BUCS game against the
                                    3s! .</p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal4"><img
                            src="{% static 'images/conor.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>Conor Morgan</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/conor.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">Conor Morgan
                                    <small>Ireland</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Centre Back</span>
                                <span class="label label-info">1st Team</span>
                                <span class="label label-success">07/02/1997</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong>Club Captain: </strong><br>
                                    Say hello to this year's club secretary Conor Morgan, responsible for registering
                                    players amongst other things. This Belfast boy's highlight in the GUFC was scoring
                                    the winning goal to send the 1s back into the BUCS 1A, and, of course, the
                                    celebrations that followed 🍻 Conor's fact is that he's represented not just one
                                    but two countries, playing for Northern Ireland schoolboys as well as the Scottish
                                    Unis squad 🏴󠁧󠁢󠁳󠁣󠁴󠁿⚽ .</p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal5"><img
                            src="{% static 'images/robbie.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>Robbie Smith</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/robbie.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">Robbie Smith
                                    <small>Scotland</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Centre Back</span>
                                <span class="label label-info">1st Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong>Match Secretary: </strong><br>
                                    This is Robbie Smith, our match secretary for the season. Robbie's from bearsden and
                                    has multiple highlights in the GUFC including scoring 1 yard screamers on the daily
                                    and witnessing Scott Grangers weekly abuse for his alpaca haircut. Fun fact -
                                    accidentally played taxis cup with his shorts inside out for the entire
                                    tournament.🏆.</p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal6"><img
                            src="{% static 'images/ewan.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>Ewan <br/> Law</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/ewan.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">Ewan Law
                                    <small>Ireland</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Centre Back</span>
                                <span class="label label-info">1st Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong>Social Media Convenor: </strong><br>
                                    Time to introduce myself, I'm Ewan the social media and website convenor. My
                                    highlight in the GUFC is playing in the friendly match on the tour in Barca🇪🇸 I'm
                                    originally from Stirling and my fun fact is that I'm a certified lifeguard!</p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal7"><img
                            src="{% static 'images/chi.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>Chihoi <br/> Lee</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/chi.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">Chihoi Lee
                                    <small>Ireland</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Centre Back</span>
                                <span class="label label-info">1st Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong>Kit & Equipment convenor: </strong><br>
                                    Say hello to our kit & equipment convenor Chihoi Lee. Another local boy, Chi loves
                                    the Glasgow sunshine ☀️ His proudest moment in the GUFC was playing in the Scottish
                                    cup and he loves a BUCS away day. Chi claims to be the fastest player in the club,
                                    but this is unconfirmed 🏃 also, some may not know that Chi recently completed the
                                    biggest kit order in the club's history....</p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal8"><img
                            src="{% static 'images/colin.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>Colin Granger</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/colin.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">Colin Granger
                                    <small>Ireland</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Centre Back</span>
                                <span class="label label-info">1st Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong>Travel Convenor </strong><br>
                                    Our travel convenor (bus man) for this season is Colin Granger. An avid Partick
                                    Thistle supporter alongside his devotion to the GUFC. Colin is from Glasgow and his
                                    highlight in the club is that infamous George Hatton penalty miss in our European
                                    fixture in Barcelona. Something you may not know about Colin is that he appeared as
                                    a player in the Fifa 16 game!⚽.</p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal9"><img
                            src="{% static 'images/james.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>James Tawse</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/james.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">James Tawse
                                    <small>Ireland</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Centre Back</span>
                                <span class="label label-info">1st Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong> Alumni: </strong><br>
                                    Our fundraising and alumni position is a new role this season taken on by James
                                    Tawse. James hails from Middlesbrough 🔴⚪️ His best moment in the GUFC is being
                                    crowned a BUCS champion last season and completing an infamous port to port from
                                    Stirling. A fun fact is that he can perform a handstand and has mastered the
                                    downward dog after hours of work at yoga under Astrid's instruction 🧘‍♂️#namaste
                                </p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br>


    <div class="row">
        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal10"><img
                            src="{% static 'images/hamish.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>Hamish Van Kessel</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/hamish.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">Hamish Van Kessel
                                    <small>Ireland</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Centre Back</span>
                                <span class="label label-info">1st Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong> Social Secs: </strong><br>
                                    Now we have our social secs for this year, Hamish Van Kessel and Euan Davison.
                                    You'll find these boys at Sanc most wednesdays and Euan even sacrificed his flat
                                    ceiling at the opening social. HVK is from the Netherlands and Euan is a local from
                                    Glasgow 🏴󠁧󠁢󠁳󠁣󠁴󠁿🇱🇺 They both share their best moment as the invincible 3s
                                    BUCS season, with Euan scoring a winner against Edinburgh that season . Something
                                    you may not know about Euan is he met the band 'busted' whereas Hamish has never
                                    scored in his GUFC career!⚽
                                </p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal11"><img
                            src="{% static 'images/euan.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>Euan Davidson</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/euan.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">Euan Davidson
                                    <small>Ireland</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Centre Back</span>
                                <span class="label label-info">1st Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong> Social Secs: </strong><br>
                                    Now we have our social secs for this year, Hamish Van Kessel and Euan Davison.
                                    You'll find these boys at Sanc most wednesdays and Euan even sacrificed his flat
                                    ceiling at the opening social. HVK is from the Netherlands and Euan is a local from
                                    Glasgow 🏴󠁧󠁢󠁳󠁣󠁴󠁿🇱🇺 They both share their best moment as the invincible 3s
                                    BUCS season, with Euan scoring a winner against Edinburgh that season . Something
                                    you may not know about Euan is he met the band 'busted' whereas Hamish has never
                                    scored in his GUFC career!⚽
                                </p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal12"><img
                            src="{% static 'images/gregor.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>Gregor Kerr</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/gregor.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">Gregor Kerr
                                    <small>Ireland</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Midfield</span>
                                <span class="label label-info">2nd Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong> Sponsorship </strong><br>
                                    Next up we have our sponsorship convenor Gregor Kerr. A Glasgow boy at heart Gregor
                                    is a local to the city. You may see him at our sponsor Dram! organising our
                                    delicious post-match meals. Gregor's 'fun' fact is that he passed his driving test
                                    after only 11 lessons. His favourite moment in the GUFC was soaking up the sun at
                                    the Barcelona beach on our most recent annual tour 😎🏖️
                                </p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="span3 well">
                <center>
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal13"><img
                            src="{% static 'images/james_williamson.jpg' %}"
                            name="aboutme" width="140" height="140" class="img-circle">
                        <pos><h3>james williamson</h3></pos>
                    </a>
                </center>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <center>
                                <img src="{% static 'images/james_williamson.jpg' %}"
                                     name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">James Williamson
                                    <small>Ireland</small>
                                </h3>
                                <span><strong>Bio: </strong></span>
                                <span class="label label-info">Midfield</span>
                                <span class="label label-info">2nd Team</span>
                                <span class="label label-success">22/08/1996</span>
                            </center>
                            <hr>
                            <center>
                                <p class="text-left"><strong> Tour Convenor </strong><br>
                                    Last but not least it's time to introduce our tour convenor, James Williamson. James
                                    has organised next May's annual end of season tour to Prague. He's from Edinburgh
                                    and his highlight in the GUFC is, again, that invincible BUCS season from the 3s.
                                    Fun fact is that he worked in a school in Marseille in the area in which french
                                    footballing legend Zidane grew up⚽
                                </p>
                                <br>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-header">
    <h1>
        Meet the Coaches
        <small>2018/2019</small>
    </h1>

</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/head_coach.jpg' %}" alt="Card image"
                     height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Phil </h4>
                    <h4 class="card-title">Storrier</h4>
                    <p class="card-text">2018/2019</p>
                    <a href="/website/firstTeam" class="btn btn-primary">First Team</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/first_coach.jpg' %}" alt="Card image"
                     height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Gary </h4>
                    <h4 class="card-title">Murray</h4>
                    <p class="card-text">2018/2019</p>
                    <a href="/website/firstTeam" class="btn btn-primary">First Team</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt="Card image"
                     height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Jonathan </h4>
                    <h4 class="card-title">Quinn</h4>
                    <p class="card-text">2018/2019</p>
                    <a href="/website/secondTeam" class="btn btn-primary">Second Team</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/three_coach.jpg' %}" alt="Card image"
                     height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Grant </h4>
                    <h4 class="card-title">Sutherland</h4>

                    <p class="card-text">2018/2019</p>
                    <a href="/website/thirdTeam" class="btn btn-primary">Third Team</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/twentyone_coach.jpg' %}" alt="Card image"
                     height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Ian</h4>
                    <h4 class="card-title">Elliot</h4>
                    <p class="card-text">2018/2019</p>
                    <a href="/website/underTwentyOnes" class="btn btn-primary">U21's</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="page-header">
    <h1>
        Child Wellbeing and Protection Officer
        <small>2018/2019</small>
    </h1>
</div>
<div>
    <h3>
        Tom Middlemass
    </h3>
    <h5>
        Email - tom.midd@hotmail.com
    </h5>
</div>
<div class="page-header">
    <h1>
        Club Policies
        <small>2018/2019</small>
    </h1>
</div>
<div>
    <p>Ali Keith introduction statement about club policies</p>
    <ul>
        <li><a href="{% static 'policies/football-men-club-constitution.pdf' %}">Club Constitution</a></li>
        <li><a href="{% static 'policies/equity-policy.pdf' %}">Equity Policy</a></li>
        <li><a href="{% static 'policies/disability-discrimination-policy.pdf' %}">Disability Discrimination Policy</a>
        </li>
        <li><a href="{% static 'policies/unacceptable-conduct-policy.pdf' %}">Unacceptable Conduct Policy</a></li>
        <li><a href="{% static 'policies/code-of-conduct.pdf' %}">Code of Conduct</a></li>
        <li><a href="{% static 'policies/customer-charter.pdf' %}">Customer Charter</a></li>
        <li><a href="{% static 'policies/childwellbeing-protection.pdf' %}">Childwellbeing policy</a></li>
    </ul>
</div>

<div class="page-header">
    <h1>
        Find Us
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <li>
                We play at garscube
            </li>
            <li>
                I've put in 2 map embeddings
            </li>
            <li>
                Both use google
            </li>
            <li>
                First one is from a free website and I copy pasted the code
            </li>
            <li>
                Second one is straight from google and I signed up for a personal API key
            </li>
            <li>
                I shouldn't get charged for using the API because
            </li>
            <li>
                it's only for "Place" functionality which is free
            </li>
            <li>
                Directions and anything else will cost money
            </li>
            <li>
                The google one is better
            </li>
            <li>
                But the free first one works fine too
            </li>
            <li>
                Both maps are easy to resize and position
            </li>
            <li>
                Which needs to be done
            </li>
            <li>
                Because now they are set to fill the container
            </li>
            <li>
                And thats why I'm writing all this to simulate having actual text here
            </li>
            <li>
                So sure have a look and see
            </li>
        </div>
        <div class="col-lg-4">
            <iframe width='100%' height='100%' id='mapcanvas'
                    src='https://maps.google.com/maps?q=Garscube%20Sports%20Complex,%20Glasgow,%20United%20Kingdom&amp;t=&amp;z=10&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
                    frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
                <div class="zxos8_gm"></div>
                <div style='overflow:hidden;'>
                    <div id='gmap_canvas' style='height:100%;width:100%;'></div>
                </div>
            </iframe>
        </div>
        <div class="col-lg-4">
            <iframe width="100%" height="100%" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJc9dFaqBFiEgRy4FvIGlpKyQ&key=AIzaSyAI_0xtqK5Pb6EZurak5e9oaQnfJtfzrjU"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>

{% endblock %}