<!DOCTYPE html>

{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}
<h1>Second Team</h1>
<h2>Saturday League</h2>
<div class="container">
    <div class="col-md-12">
        <iframe src='https://www.greaterglasgow.co.uk/item.php?pg=league&pd=1049&it=155' style='' width='100%'
            height='800' title='BUCS Football' frameborder='0'>
            <p> Your browser does not support iframes. </p>
        </iframe>
    </div>
</div>
<br>
<h2>BUCS League</h2>
<div class="container">
    <div class="col-md-12">
        <iframe src='https://bucs.playwaze.com/bucs-football/wxflulchrovm/league-embeddeddisplay/6o2z6kffymik' style=''
            width='100%' height='800' title='BUCS Football' frameborder='0'>
            <p> Your browser does not support iframes. </p>
        </iframe>
    </div>
</div>



{% endblock %}