<!DOCTYPE html>

{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}


<div class="page-header">

    <h1>
        Meet the Committee
        <small>2018/2019</small>
    </h1>

</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/ali.jpg' %}" alt="Card image" height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Alistair </h4>
                    <h4 class="card-title">Keith</h4>
                    <pos class="card-text">Club Captain</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/liam.jpg' %}" alt="Card image" height="150"
                        width="150">
                <div class="card-body">
                    <h4 class="card-title">Liam </h4>
                    <h4 class="card-title">McHugh</h4>
                    <pos class="card-text">Vice Captain</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/conor.jpg' %}" alt="Card image" height="150"
                        width="150">
                <div class="card-body">
                    <h4 class="card-title">Conor </h4>
                    <h4 class="card-title">Morgan</h4>
                    <pos class="card-text">Club Secretary</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/dibble.jpg' %}" alt="Card image" height="150"
                        width="150">
                <div class="card-body">
                    <h4 class="card-title">Lewis </h4>
                    <h4 class="card-title">Dibble</h4>
                    <pos class="card-text">Treasurer</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
        
        
        
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/robbie.jpg' %}" alt="Card image" height="150"
                        width="150">
                <div class="card-body">
                    <h4 class="card-title">Robbie </h4>
                    <h4 class="card-title">Smith</h4>
                    <pos class="card-text">Match Secretary</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/ewan.jpg' %}" alt="Card image" height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Ewan </h4>
                    <h4 class="card-title">Law</h4>
                    <pos class="card-text">Social Media</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/chi.jpg' %}" alt="Card image" height="150"
                        width="150">
                <div class="card-body">
                    <h4 class="card-title">ChiHoi </h4>
                    <h4 class="card-title">Lee</h4>
                    <pos class="card-text">Equipment</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/colin.jpg' %}" alt="Card image" height="150"
                        width="150">
                <div class="card-body">
                    <h4 class="card-title">Colin </h4>
                    <h4 class="card-title">Granger</h4>
                    <pos class="card-text">Transport</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/james.jpg' %}" alt="Card image" height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">James </h4>
                    <h4 class="card-title">Tawse</h4>
                    <pos class="card-text">Alumini</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
       
    </div>
    <br>


    <div class="row">
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/hamish.jpg' %}" alt="Card image" height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Hamish </h4>
                    <h4 class="card-title">Van Kessel</h4>
                    <pos class="card-text">Social Secretary</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/euan.jpg' %}" alt="Card image" height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Euan </h4>
                    <h4 class="card-title">Davison</h4>
                    <pos class="card-text">Social Secretary</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/gregor.jpg' %}" alt="Card image" height="150"
                        width="150">
                <div class="card-body">
                    <h4 class="card-title">Gregor </h4>
                    <h4 class="card-title">Kerr</h4>
                    <pos class="card-text">Sponsorship</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/james_williamson.jpg' %}" alt="Card image" height="150"
                        width="150">
                <div class="card-body">
                    <h4 class="card-title">James </h4>
                    <h4 class="card-title">Williamson</h4>
                    <pos class="card-text">Tour Convenor</pos>
                    <a href="/website/firstTeam" *position*></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-header">
    <h1>
        Meet the Coaches
        <small>2018/2019</small>
    </h1>

</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/head_coach.jpg' %}" alt="Card image"
                     height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Phil </h4>
                    <h4 class="card-title">Storrier</h4>
                    <p class="card-text">2018/2019</p>
                    <a href="/website/firstTeam" class="btn btn-primary">First Team</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/first_coach.jpg' %}" alt="Card image"
                     height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Gary </h4>
                    <h4 class="card-title">Murray</h4>
                    <p class="card-text">2018/2019</p>
                    <a href="/website/firstTeam" class="btn btn-primary">First Team</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt="Card image"
                     height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Jonathan </h4>
                    <h4 class="card-title">Quinn</h4>
                    <p class="card-text">2018/2019</p>
                    <a href="/website/secondTeam" class="btn btn-primary">Second Team</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/three_coach.jpg' %}" alt="Card image"
                     height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Grant </h4>
                    <h4 class="card-title">Sutherland</h4>

                    <p class="card-text">2018/2019</p>
                    <a href="/website/thirdTeam" class="btn btn-primary">Third Team</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/twentyone_coach.jpg' %}" alt="Card image"
                     height="150"
                     width="150">
                <div class="card-body">
                    <h4 class="card-title">Ian</h4>
                    <h4 class="card-title">Elliot</h4>
                    <p class="card-text">2018/2019</p>
                    <a href="/website/underTwentyOnes" class="btn btn-primary">U21's</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="page-header">
    <h1>
        Club Policies
        <small>2018/2019</small>
    </h1>

</div>

{% endblock %}