<!DOCTYPE html>

{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}
    <h1>Club News</h1>

    <div>
        {% if news %}
        <ul>
          {% for report in news %}
          <li>
              <h4>{{ report.title }}</h4>
              
              {{ report.text }}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <h5>No club news available</h5>
        {% endif %}
    </div>
    
{% endblock %}