<!DOCTYPE html>

{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}
<!--<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class='embedsocial-album' data-ref="3d95cf7c1655b76ca5feeb22929a2b982f13044e"></div>
            <script>
    (function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/ei.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialScript"));




            </script>
        </div>
        <div class="col-lg-3">
            <div class='embedsocial-album' data-ref="fe55b4b357e58faf6cc25886752452a30f7439e8"></div>
            <script>
    (function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/ei.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialScript"));



            </script>
        </div>
    </div>
</div>-->


{% endblock %}



