<!DOCTYPE html>

{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}
    <h1>Club News</h1>

    <div>
        {% if news %}
        <ul>
          {% for report in news %}
          <li>
              <h4>{{ report.title }}</h4>
              
              {{ report.text }}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <h5>No club news available</h5>
        {% endif %}
    </div>
      
    <div>
        <h3>
        Match Reports
        </h3>
        {% if match_reports %}
        <ul>
            {% for report in match_reports %}
            <li>
            <h5>{{ report.title}}</h5>
            <p>{{ report.text }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <h5>No match reports available</h5>
        {% endif %}
    </div>
      

{% endblock %}