<!DOCTYPE html>

{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}
    <h1>Club News</h1>

    <div>
        {% if news_cats %}
        <ul>
          {% for cat in news_cats %}
          <li>
              {{ cat.name }}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <h5>No match Reports available</h5>
        {% endif %}
      </div>
      
        <div>
          <h3>
            Match Reports
          </h3>
          {% if news_reports %}
            <ul>
              {% for report in news_reports %}
              <li>
                <h5>{{ report.title}}</h5>
                <p>{{ report.text }}</p>
              </li>
              {% endfor %}
            </ul>
            {% else %}
              <h5>No news available</h5>
            {% endif %}
        </div>
      

{% endblock %}